<!DOCTYPE html>
<html>
  <head>
    <title>Car Model Search</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Car Model Search</h1>
    
    <form id="searchForm">
      <input type="text" id="searchInput" placeholder="Search car models" />
      <input type="submit" value="Search" />
    </form>
    <div id="autocompletesuggestion"></div>
    <h1>Car Lister</h1>
    <table id="carList">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Year</th>
          <th>Color</th>
          <th>Size</th>
          <th>Fuel</th>
        </tr>
      </thead>
      <tbody id="CarListBody"></tbody>
    </table>
    <h1>Searchin History</h1>
    <ul id="recentSearches"></ul>
    <h1>Recommendation</h1>
    <table id="recommendation">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Year</th>
          <th>Color</th>
          <th>Size</th>
          <th>Fuel</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <style>
      td {
        padding: 1rem;
        background-color: pink;
        border: 1px solid black;
      }
    </style>
  <script src="static/js/scripts.js"></script>
  </body>
</html>
